<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <distributable/>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageAccountController</servlet-name>
        <servlet-class>controllers.manageAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeAccountController</servlet-name>
        <servlet-class>controllers.removeAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPasswordController</servlet-name>
        <servlet-class>controllers.resetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>controllers.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccountView</servlet-name>
        <servlet-class>controllers.ManageAccountView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mainController</servlet-name>
        <servlet-class>controllers.mainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchAccountController</servlet-name>
        <servlet-class>controllers.searchAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStatusAccountController</servlet-name>
        <servlet-class>controllers.updateStatusAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>findItemsController</servlet-name>
        <servlet-class>controllers.findItemsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readCookieController</servlet-name>
        <servlet-class>controllers.readCookieController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addItemToCartController</servlet-name>
        <servlet-class>controllers.addItemToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCartController</servlet-name>
        <servlet-class>controllers.updateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeCartController</servlet-name>
        <servlet-class>controllers.removeCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentController</servlet-name>
        <servlet-class>controllers.paymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderHistoryController</servlet-name>
        <servlet-class>controllers.orderHistoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageAccountController</servlet-name>
        <url-pattern>/manageAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeAccountController</servlet-name>
        <url-pattern>/removeAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPasswordController</servlet-name>
        <url-pattern>/resetPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccountView</servlet-name>
        <url-pattern>/ManageAccountView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mainController</servlet-name>
        <url-pattern>/mainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchAccountController</servlet-name>
        <url-pattern>/searchAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStatusAccountController</servlet-name>
        <url-pattern>/updateStatusAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>findItemsController</servlet-name>
        <url-pattern>/findItemsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readCookieController</servlet-name>
        <url-pattern>/readCookieController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addItemToCartController</servlet-name>
        <url-pattern>/addItemToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCartController</servlet-name>
        <url-pattern>/updateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeCartController</servlet-name>
        <url-pattern>/removeCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentController</servlet-name>
        <url-pattern>/paymentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderHistoryController</servlet-name>
        <url-pattern>/orderHistoryController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>mainController</welcome-file>
    </welcome-file-list>
</web-app>
